/*-----General Rules-----*/

* {
  font-family: Arial, sans-serif;
  font-size: 13px;
}

div {
  display: block;
}

body {
  display: block;
  margin: 8px;
  line-height: 1;
}

/*-----Form-----*/

#google {
        margin-top: 125px;
	text-align: center;
        margin-bottom: 33px;}

#search_form {
	text-align: center;
}

#search_field {
	background-color: #fff;
	height: 30px; width: 484px;
	border: 1px solid #D4D4D4;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
	border-radius: 2px;
	padding: 5px;
	font-size: 1em;
	margin-bottom: 25px;
	outline: none;
}

.button {
	background-color: #F1F1F1;
	color: #757575;
	border: none;
	text-align: center;
	padding: 11px 15px;
	margin: 0px 4px;
	border-radius: 3px;
        font-weight: bold;

/*-----Nav Bars-----*/

.navbar {

}

.footer

#footer_l {

#footer_r

li {
  display: inline-block;
  margin:10px 10px 10px 10px;
}

ul {
  background-color: #f3f3f3;
  font-family: arial, sans-serif;
  font-size: 13px; 
  text-align: right;
  vertical-align: middle;
  white-space: nowrap;
  border: 1px solid #e7e7e7;
}

li a {
  color: #666;
  text-decoration: none; 
  overflow: hidden;
}

#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:30px;   /* Height of the footer */
   background-color: #f3f3f3;
   display: inline;
}

