
/*-----Form-----*/


#center {
  position: absolute;
  width: 300px;
  height: 200px;
  z-index: 15;
  top: 35%;
  left: 50%;
  margin: -100px 0 0 -150px;
  }  

Submit {
  background-color: #f7f7f7;
  border: 1px solid #c6c6c6;
  box-shadow: 0px 1px 4px #dfdfdf;
  color: #000000;}

/*-----Nav Bars-----*/


li {
    display: inline;
}

ul {
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

li a {
    color: #666;
}

Bottom nav bar {
  height: 0px;}

